*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --gallery-gap: calc(var(--index)*1)
}


body {
    margin: 0;
    background-attachment: fixed;
    background: radial-gradient(circle, #ede3e9, #e6c2cf);
    color: #ad5083;
    font-family: 'Century';

}

.first{
    width: calc(var(--index)*38);
    position: absolute;
    left: 40vw;
    top: 13vw;
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
}

.main-head{
    height: 10vh;
}

.container{
    padding: 5vw;
    bottom: 0vh;
    margin: 0vh;
}

.main-title {
    font-size: calc(var(--index)*3);
    position: absolute;
    color: #ad5083;
    top: 31vh;
    left: 3vw;
    transition: 0.3s;
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
}

.main-title1 {
    font-size: calc(var(--index)*3);
    position: absolute;
    color: #ad5083;
    top: 41vh;
    left: 12vw;
    transition: 0.3s;
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
}

.varr{
    font-family: "Century";
    font-size: calc(var(--index)*0.8);
    transition: 0.3s;
    transform: translate3d(0, calc(var(--scrollTop)/10),0);
    position: absolute;
    top: 56vh;
    left: 17vw;
    padding: 0.5vw 1vw;
    background-color: #e5c3d5; 
    font-weight: bold;
    color: #a13d74; 
    border: 0.1vw solid #ad5083;
    border-radius: 1vw;
    box-shadow: 1vh 1vw 1vw rgba(75, 54, 63, 0.281);
}
.varr:hover{
    font-size: calc(var(--index)*1);
}

.gallery {
    display: flex;
    padding: 0;
    margin: 0;

}

.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: calc(var(--index)*1.5);
    margin: 2%; 
    padding: 2%;
    width: auto;
    border-radius: 5%;
    border: 0.1vw solid #ad5083; 
    background: linear-gradient(to top, #dca7bad8 50%, #ddcfd6);
    box-shadow: 1vw 1vw 1vw rgba(75, 54, 63, 0.281);
} 


.gallery__item {
    max-width: calc(var(--gallery-gap)*14);
    margin-top: calc(var(--gallery-gap)*1);
    margin-bottom: calc(var(--gallery-gap)*.01);
    transition: transform 0.1s;
}

.gallery-right {
    margin-right: calc(var(--gallery-gap)*1);
    max-width: calc(var(--gallery-gap)*21);
}

.gallery-left {
    margin-left: calc(var(--gallery-gap)*1);
    max-width: calc(var(--gallery-gap)*21);
}

.gallery-center {
    margin-left: calc(var(--gallery-gap)*0.1);
    margin-right: calc(var(--gallery-gap)*0.1);
    max-width: calc(var(--gallery-gap)*21);
}

li{
    list-style: none;
}

a {
    font-family: 'Century';
    color: #ad5083;
    text-decoration: none;
    font-size: calc(var(--index)*1);
    text-align: center;
  }

a:hover {
    font-weight: bold;
    font-size: calc(var(--index)*1.3);
    transition: font-size 0.3s ease-in-out;
  }
  
a:active {
    color: #d36792;
  }

  #scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    padding: 0.8vw 1.5vw;
    background-color: #e5c3d5; 
    font-weight: bold;
    font-size: calc(var(--index)*0.57);;
    color: #a13d74; 
    border: 0.1vw solid #ad5083;
    border-radius: 1vw;
    cursor: pointer;
    z-index: 1000; 
  }
  
  #scrollToTopButton:hover {
    color:#ad5083;
  }

.header-info {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    border: 0.1vw solid #ad5083;
    background-color: #e5c3d5; 
    color: #a13d74; 
    font-weight: bold;
    font-size: calc(var(--index)*0.78);
    text-align: center; 
    padding: 1vw 2vw; 
    z-index: 1000; 
    border-radius: 1vw;
    box-shadow: 0 1vw 1vw rgba(75, 54, 63, 0.281);
  }

  body {
    margin-top: 5vw; 
  }

.mini-title {
    text-align: center; 
    font-weight: bold;
    font-size: calc(var(--index)*1.8);
}

.recipes {
    display: flex;
    padding: calc(var(--index)*4)0;
    font-family: 'Century';
}

.i:hover
{
    font-weight: bold;
    font-size: calc(var(--index)*0.8);
    transition: font-size 0.3s ease-in-out;
}


.recipes > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: auto;
} 

.b-left {
    margin-left: calc(var(--gallery-gap)*4);
    max-width: calc(var(--gallery-gap)*20);
}

.b-item {
    max-width: calc(var(--index)*17);
    margin-bottom: calc(var(--gallery-gap)*.01);
    margin-top: calc(var(--gallery-gap)*4);
    transition: transform 0.5s;
}

.b-right {
    margin-right: calc(var(--gallery-gap)*0);
    margin-left: calc(var(--gallery-gap)*2);
    max-width: calc(var(--gallery-gap)*35);
    padding: 2vw 2vw;
    border-radius: 1vw;
    text-align: justify;
    box-shadow: 0 1vw 1vw rgba(75, 54, 63, 0.281);
}

.main-b{
    font-size: calc(var(--index)*1.5);
    text-align: center;
}

.b-consist{
    font-size: calc(var(--index)*0.8);
    margin-top: 2vh;
}

.b-text{
    font-size: calc(var(--index)*0.8);
    margin-top: 2vh;
}

html{
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
}

body::before {
    margin: 0;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ede3e9, #e6c2cf);
    z-index: -1;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    left: 46vw;
    top: 6vw;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;

}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ad5083;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 1vw;
}

.prev {
    left: 10px;
    color: #ffffff;
}

.next {
    right: 10px;
    color: #ffffff;
}

.container1{
    margin-top: 60px;

}

.time2 {
    margin-left: 720px;
}